#contact iframe
{
    width: 100%;
}
.travel_mainDiv{
    border:1px solid lawngreen
}
.travel_mainDiv img{
    width:100%;
}
.movie_head i{
    float: right;
}
.movie_text span{
    color:yellow;
}
.movie_head{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;

}
.new{
    margin-bottom: 20px;

}
#contact iframe{
    width: 100%;
}